#home {
  input {
  display: block;
  margin: auto;
  margin-bottom: 8px;
  padding: 4px 32px;
  text-align: center;
  font-size: 16px;
  }
}

.bg {
  background-image: url(http://33.media.tumblr.com/a4550e4814f02d708f80e45bcf1296d9/tumblr_inline_nm6gm1BtZS1tpacqz.gif);
  // background-image: url('http://50.22.11.28/~happyhar/wp-content/uploads/2015/01/beer-suds_web.jpg');
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-y: 0;
}

.container {
  width: 60%;
  margin: auto;
  margin-top: 230px;
  text-align: center;
}

h1 {
  font-family: 'Bree Serif', serif;
  text-transform: uppercase;
  font-size: 6rem;
  margin: 0;
  line-height: 1;
}

h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.16rem;
}
