#brewery-list{
  width: 90%;
  margin: 0 auto;
  nav {
    float: right;
    display: inline-block;
    margin-top: 34px;
  }
  #finding {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
  }
  h3 {
    margin: 8px 0;
    font-size: 22px;
  }
  input {
    display: block;
    margin: auto;
    margin-bottom: 8px;
    padding: 4px 32px;
    text-align: center;
    font-size: 16px;
  }
  ul {
    padding: 0;
  }
  .brew-links {
    text-align: right;
    float: right;
    margin-top: 34px;
  }
}

#map {
  height: 200px;
}

li {
  width: 100%;
  height: 125px;
  padding: 15px 0;
  border-bottom: 1px solid lightgrey;
  div {
    display: inline-block;
    vertical-align: top;
  }
  .brew-photo {
    width: 30%;
    background-position: center;
    height: 100%;
    margin-right: 15px;
  }
  h2 {
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
    margin: 0;
  }
  p {
    margin: 5px 0;
  }
}
//
.main-page-header{
  width: 90%;
  position: fixed;
  top: 0;
  margin-bottom: 10px;
  background: white;
  h1{
    font-size: 5em;
    margin: 15px 0;
    text-align: center;
    display: inline-block;
  }
}

.recipe-container {
  width: 100%;
  margin-top: 352px;
  ul {
    list-style: none;
  }
  li{
    display: inline-block;
  }
  img{
    width: 30%;
  }
}
