body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

section {
  display: none; }

.visible {
  display: block; }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    color: rebeccapurple;
    text-decoration: underline; }

button {
  width: 122px; }

@font-face {
  font-family: Thirsty Script Extrabold Demo;
  src: local("Thirsty Script Extrabold Demo"); }

#home input {
  display: block;
  margin: auto;
  margin-bottom: 8px;
  padding: 4px 32px;
  text-align: center;
  font-size: 16px; }

.bg {
  background-image: url(http://33.media.tumblr.com/a4550e4814f02d708f80e45bcf1296d9/tumblr_inline_nm6gm1BtZS1tpacqz.gif);
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-y: 0; }

.container {
  width: 70%;
  margin: auto;
  margin-top: 230px;
  text-align: center; }

h1 {
  font-family: 'Bree Serif', serif;
  text-transform: uppercase;
  font-size: 6rem;
  margin: 0;
  line-height: 1; }

h3 {
  font-family: 'Thirsty Script Extrabold Demo', Helvetica, sans-serif;
  margin: 0;
  margin-bottom: 10px;
  font-size: 2.1rem; }

#brewery-list {
  width: 90%;
  margin: 0 auto; }
  #brewery-list nav {
    float: right;
    display: inline-block;
    margin-top: 34px; }
  #brewery-list #finding {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 3rem; }
  #brewery-list h3 {
    margin: 8px 0;
    font-size: 22px; }
  #brewery-list input {
    display: block;
    margin: auto;
    margin-bottom: 8px;
    padding: 4px 32px;
    text-align: center;
    font-size: 16px; }
  #brewery-list ul {
    padding: 0; }
  #brewery-list .brew-links {
    text-align: right;
    float: right;
    margin-top: 34px; }

#map {
  height: 200px; }

li {
  width: 100%;
  height: 125px;
  padding: 15px 0;
  border-bottom: 1px solid lightgrey; }
  li div {
    display: inline-block;
    vertical-align: top; }
  li .brew-photo {
    width: 30%;
    background-position: center;
    height: 100%;
    margin-right: 15px; }
  li h2 {
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
    margin: 0; }
  li p {
    margin: 5px 0; }

.main-page-header {
  width: 90%;
  position: fixed;
  top: 0;
  margin-bottom: 10px;
  background: white; }
  .main-page-header h1 {
    font-size: 5em;
    margin: 15px 0;
    text-align: center;
    display: inline-block; }

.recipe-container {
  width: 100%;
  margin-top: 352px; }
  .recipe-container ul {
    list-style: none; }
  .recipe-container li {
    display: inline-block; }
  .recipe-container img {
    width: 30%; }
