<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Suds Tracker</title>
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <section id="home" class="visible">
      <div class="bg">
        <div class="container">
          <h1>Suds Tracker</h1>
          <h3>Find great breweries based on your current location or search by zipcode</h3>
          <form class="" action="index.html" method="post">
            <input type="text" placeholder="Enter Zipcode" name="zipSearch">
            <button class="submit">Use My Current Location</button>
          </form>
        </div>
      </div>
    </section>
    <section id="brewery-list">
      <header class="main-page-header">
        <h1>Breweries near [location]</h1>
        <nav>
          <h3>Search Again</h3>
          <form class="" action="index.html" method="post">
            <input type="text" placeholder="Enter Zipcode" name="zipSearch">
            <button class="submit">Use My Current Location</button>
          </form>
        </nav>
      </header>
      <div class="recipe-container">
        <ul>
          <a href="">
            <li>
              <img src="https://www.fillmurray.com/200/300" alt="" />
               <!-- <div class='photo-div' style='background-image: url( <%= url %> )'> -->
            </li>
            <li>
              <img src="https://www.fillmurray.com/200/300" alt="" />
               <!-- <div class='photo-div' style='background-image: url( <%= url %> )'> -->
            </li>
            <li>
              <img src="https://www.fillmurray.com/200/300" alt="" />
               <!-- <div class='photo-div' style='background-image: url( <%= url %> )'> -->
            </li>
            <li>
              <img src="https://www.fillmurray.com/200/300" alt="" />
               <!-- <div class='photo-div' style='background-image: url( <%= url %> )'> -->
            </li>
            <li>
              <img src="https://www.fillmurray.com/200/300" alt="" />
               <!-- <div class='photo-div' style='background-image: url( <%= url %> )'> -->
            </li>
            <li>
              <img src="https://www.fillmurray.com/200/300" alt="" />
               <!-- <div class='photo-div' style='background-image: url( <%= url %> )'> -->
            </li>
        </a>
      </ul>
      </div>
    </section>

    <section id="brewery-view">

    </select>

    <script src="bower_components/jquery/dist/jquery.js" charset="utf-8"></script>
    <script src="bower_components/underscore/underscore.js" charset="utf-8"></script>
    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
